html, body {
    padding: 0px;
    margin: 0px;

    font-family: "Courier New", Courier;
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}
.page-area {
    display: grid;
    grid-template-columns: 1fr minmax(0px, 600px) 1fr;
    min-height: 100vh;
}
.content-area {
    grid-column: 2 / 3;
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app .text-area-container {
    width: 580px;
    height: 600px;
    position: relative;
}

.app .overlay {
    position: absolute;
    width: 580px;
    height: 600px;
    overflow-x: scroll;
    z-index: 10;

    opacity: 0.2;
    color: green;
    pointer-events: none;
}

.overlay pre {
    margin: 0px;
    padding: 0px;
    border: none;
    margin-top: -1px;
}

.app textarea {
    position: absolute;
    width: 580px;
    height: 600px;
    z-index: 0;

    margin: 0px;
    padding: 0px;
    border: none;

    font-family: "Courier New", Courier;
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}